@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import "../../sass/variables.scss";

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

.landingpage-body {
    margin: 0;

    .hero {
        width: 100vw;
        height: 100vh;
        background-image: url(./landingpage-bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .hero-inner{
          font-family: sans-serif;
          font-family: "Philosopher";
          font-style: normal;
          font-weight: bold;
          color: #8d703c;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
         

          .greeting{
            margin-top: 100px;
            h1{
              font-family: "Philosopher";
              color: white
            }
            h2{
              
              color: white;
            }
          }
        
        .booking{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-top: 50px;
            

            .select-box-landingpage {
              width: 150px;
              height: 100px;
              border-radius: 5px;
              font-size: 35px;
              color: #8d703c;
              background-color: #eee;
              font-family: "Philosopher";
              font-style: normal;
              font-weight: bold;
              
            }
            
            .day {
              .react-datepicker-wrapper,
              .react-datepicker__input-container,
              .react-datepicker__input-container input {
                display: block;
                width: 100%;
                color: #8d703c;
                font-family: "Philosopher";
                font-style: normal;
                font-weight: bold;
              }}
              .time {
                grid-column: 2 / 3;

              }
              .people {
                grid-column: 3 / 4;
                
              }
              .book-button {
                grid-column: 4 / 5;
                
                button{
                  width: 150px;
                  height: 100px;
                  border-radius: 5px;
                  font-size: 35px;
                  color: #eee;
                  background-color: #8d703c;
                  p{
                  font-family: "Philosopher";
                  font-style: normal;
                  font-weight: bold;
                  }
              
                }
              }
}}}}


