@import '/Users/Isabelle/Desktop/FED19ToUpload/Alviken-Frontend/src/sass/variables.scss';

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $gold;
  color: $white;
  font-family: $mainfont;
}

#menu {
  float: right;
}

#menu a {
  display: block;
  color: $white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#menu a:hover {
  background-color: $black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #DED4C1;
}

#smallimg {
    width: 30px;
}