@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$textcolor: white;
.container {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  .thankyou {
    margin-top: 10%;
    font-family: "Philosopher";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: $textcolor;
  }
  .bookingNR {
    margin-top: 10%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: $textcolor;
    list-style-type: none;
  }
  .greetings {
    margin-top: 10%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: $textcolor;
  }
  .alviken {
    font-family: "Philosopher";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: $textcolor;
  }
}
