@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$textcolor: white;
h2 {
  margin-top: 10%;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: $textcolor;
}
.bookingNR {
  margin-top: 10%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: $textcolor;
  list-style-type: none;
}
.greetings {
  margin-top: 10%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: $textcolor;
}
h3 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: $textcolor;
}
