@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
.modalBtn {
  color: white;
  border: 1px solid #8d703c;
  background-color: #8d703c;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  width: 3%;
  border-radius: 50%;
  margin-left: 80%;
  margin-top: 5%;
}
