@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Poppins:wght@100;400;800&display=swap");
$phone-with: 480px;
$tablet-with: 768px;
.gdprDiv {
  max-width: 80%;
  .checkbox {
    position: relative;
    border: none;
    text-align: start;
    display: inline;
    margin-right: 40%;
  }
  .gdprText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    width: 50%;
    position: absolute;
    margin-left: 27%;
  }
}
@mixin phone {
  @media (min-width: #{$phone-with}) and (max-width:#{$tablet-with}) {
    .gdprText {
    }
  }
}
